numpy
matplotlib
opencv-python
torchsummary
tqdm
pandas
seaborn
easydict 
tensorflow
tensorboardX
scikit-learn
efficientnet-pytorch
timm
albumentations
protobuf==3.20.2 
# cording
flake8
# edage
onnx
onnxruntime
onnx-simplifier>=0.3.6

